<div>
    <div>
        <table>
            <tr>
                <td>姓名</td>
                <td><input type="text" ng-model="vm.newMember.name"></td>
            </tr>
            <tr>
                <td>签名</td>
                <td><input type="text" ng-model="vm.newMember.desc"></td>
            </tr>
        </table>
        <button ng-click="vm.addMember()">添加</button>
    </div>
    <table class="table table-striped">
        <tr ng-repeat="member in vm.membersData">
            <td>{{member}}</td>
            <td>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true"></i>
            </td>
        </tr>
    </table>
</div>